<div class="gut lnk">

	<h3><a href="/blog">Our Blog</a> / <?php echo $blog['Blog']['title']; ?></h3>

	<div class="gut lnk">
		<?php echo $blog['Blog']['body']; ?>
		<br/>
		<div class="timestamp"><?php echo date("m/d/Y", strtotime($blog['Blog']['created'])); ?></div>
		<br/><br/>
	</div>
	
</div>