@media (max-width: 767px) {

	.navbar-default {
		background-color: @core_black;
		margin: 0;
		display: block;
	}

	.navbar-default .navbar-toggle {
		border-color: #666;
	}

	.navbar-default .navbar-toggle:hover {
		background-color: #222;
	}

	.navbar-default .navbar-toggle:focus {
		background-color: #222;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #666;
	}

	.navbar-header {
		float: inherit;
	}
	
	.main_nav {
		float: inherit;
	}
	
	.gut {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.downloads a:hover {
		text-decoration: none;
	}
	.download {
		clear: right;
		display: block;
		margin: 0 auto 4px auto;		
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent;
	}
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	.navbar-brand a, .navbar-brand {
		color: #777 !important;
	}
	.rabbit_bold {
		color: #3c4793 !important;
	}
	.nav>li>a:hover, .navbar-header a:hover {
		color: #3c4793 !important;
		text-decoration: underline;
	}

	#clock {
		width: 90%;
	}
	
}