@import "variables.less";
@import "mixins.less";

/** load generic overrides here **/
body {
	font-family: 'Raleway', sans-serif;
	background-color: @core_white;
	background-image: url(/theme/RabbitCoin/images/bg.png);
	color: @core_black;
}

.nav, .navbar-brand {
	font-size: 18px;
}

.nav>li>a:hover, .navbar-header a:hover {
	color: @rabbit_blue !important;
	text-decoration: underline;
}

.navbar-default {
	background-color: transparent;
	text-align: center;
    margin: 20px auto 0 auto;
    display: table;
    border: none;
}

.navbar-header {
	float: left;
}

.main_nav {
	float: left;
}

.homepage {
	margin-top: 30px;
	text-align: center;
}

.downloads {
	margin: 50px auto;
	overflow: hidden;
	clear: both;
	text-align: center;
}
.download {
	width: 172px;
	height: 54px;
	display: inline-block;
	background-image: url(/theme/RabbitCoin/images/download_box2.png);
	font-size: 16px;
	color: @core_black;
	padding-top: 16px;
}

.home_logo {
	width:90%;
	max-width: 310px;
}

.ver {
	color: @rabbit_blue;	
}

.gut {
	margin: 20px auto 0 auto;
	max-width: 700px;	
}

.gut h3 {
	margin-top: 0;
	margin-bottom: 25px;
	padding: 6px 0 6px 10px;
	background-image: url(/theme/RabbitCoin/images/h3bg.png);
	color: @core_white;
	font-weight: 400;
}

.gut a, .gut a:hover {
	color: @rabbit_blue;	
}

.gut h4 {
	color: @rabbit_blue;	
}

.foot {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;	
	font-size: 11px;
	color: @rabbit_lightgray;
}

.team_row {
	margin-bottom: 20px;	
}

.team_row h4 {
	color: @core_white;
	padding-top: 10px;
}
.team_row .team_title {
	padding-left: 12px;
	color: @core_gray;
}

.team_links {
	clear: both;
}

.team_links .team_link {
	float: left;
	margin-right: 2px;
}

.client_ss {
	padding: 0;
}

.lnk li {
	padding-left: 20px;
}
.lnk li a {
	color: #444;
}

.navbar-brand a, .navbar-brand {
	color: #333 !important;
}
.rabbit_bold {
	font-weight: 800;
	color: @rabbit_blue;
}

#clock {
	background-color: @rabbit_blue;
	color: @core_white;
	padding: 18px 40px 18px 40px;
	text-align: center;
	width: 500px;
	margin: 0 auto;	
}


@import "media_min768max979.less";
@import "media_max979.less";
@import "media_max767.less";
@import "media_max480.less";
@import "media_min992.less";
@import "media_min1200.less";