
/** core **************************************************************/
@core_white:				#FFFFFF;
@core_red:					#AD1B1B;
@core_lightgray:			#CCCCCC;
@core_gray:					#666666;
@core_black:				#000000;
@rabbit_blue:				#1e2556;	
@rabbit_lightgray:			#aaaaaa;